__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.ipynb_checkpoints/
env/
.conda/
results/logs/
results/figures/
results/tables/
data/
.vscode/
.DS_Store
CheckList.docs
"~$*.docx"
"~$*.xlsx"

# Word autosave scratch files
~$*
~WRL*.tmp
*.tmp

# Common OS junk
.DS_Store
Thumbs.db